# Arquivos de ambiente - NUNCA ENVIAR PARA O GITHUB
.env
.env.*

# Credenciais Secretas
firebase-credentials.json
bacelar-advocacia-prazos-firebase-adminsdk-*.json
FIREBASE_CREDENTIALS_FORMATTED.md

# Arquivos compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Pastas de ambiente virtual
.venv
venv/
env/

# Arquivos do Celery
celerybeat-schedule*

# Arquivos do S.O. e IDEs
.DS_Store
.vscode/
.idea/

# Uploads de arquivos
uploads/